body {
    background-color: rgb(255, 255, 255);
    font-family: 'Hind', sans-serif;
}	

#stilldiv {
    float: left;
    border: 1px solid #eaeaea;
    margin-top: 20px;
    width: 240px;
    height: 650px;
    position: fixed;
    transform: none;
}

#stilldiv img {
    margin-top: 18px;
    margin-left: 20px;
}

#aboutmediv {
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 200px;
    height: 240px;
}

#container{
    margin-left: 200px;
    margin-right: 200px;
}

#movingdiv {
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    margin-top: 20px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}

#movingdiv2 {
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
    text-align: center;
}

#movingdiv3 {
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}
.clear {
    clear: both;
}

.progress-skills {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    color: #3d3d50;
}
