body {
    background-color: rgb(255, 255, 255);
    font-family: 'Hind', sans-serif;
}	

#stilldiv {
    float: left;
    border: 1px solid #eaeaea;
    margin-top: 20px;
    width: 240px;
    height: 650px;
    position: fixed;
    transform: none;
}

#stilldiv img {
    margin-top: 18px;
    margin-left: 20px;
}

#aboutmediv {
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 200px;
    height: 240px;
}

#container{
    margin-left: 200px;
    margin-right: 200px;
}

#movingdiv {
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    margin-top: 20px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}

#movingdiv2 {
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 350px;
    position: relative;
    overflow: visible;
    text-align: center;
}

#movingdiv3 {
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 330px;
    position: relative;
    overflow: visible;
}

#movingdiv4 {
    clear: both;
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}

#movingdiv5 {
    clear: both;
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}

.movingdiv6 {
    clear: both;
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}

.movingdiv7 {
    clear: both;
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}

.movingdiv8 {
    clear: both;
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 300px;
    position: relative;
    overflow: visible;
}
.clear {
    clear: both;
}

.progress-skills {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    color: #3d3d50;
}

.insidemovingdiv{
    margin: 40px;
}

.madeby {
    clear: both;
    float: left;
    margin-left: 240px;
    margin-right: 60px;
    border: 1px solid #eaeaea;
    width: 700px;
    height: 100px;
    position: relative;
    overflow: visible;
}

.headinginsidemovingdiv {
    float: left; 
    text-align: center;
    margin-bottom: 5px;
    color: #bebece;
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 700;
    margin: 0 0 15px;
}

.subheading{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8em;
    margin: 0 0 15px;
    color: #2b2b3d;
}

.regularwritingclass{
    margin-bottom: 20px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.8em;
    color: #3d3d50;
    font-weight: 300;
}

.regularwritingclass2{
    /* margin-bottom: 20px; */
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.8em;
    color: #3d3d50;
    font-weight: 300;
}

.smallclass {
    color: #888888;
    font-size: 85%;
    line-height: 1.8em;
    font-weight: 300;
}

.contentitemh3 {
    margin: 0 0 10px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #2b2b3d;
}

.contentitemh4 {
    margin: 0;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    color: #2b2b3d;
}

.contentitemp{
    margin-bottom: 20px;
    margin: 0 0 10px;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    color: #3d3d50;
    font-weight: 300;
}